<ion-content id="ion-form" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="7" size-lg="4" size-xl="4" class="ion-align-self-center">
        <ion-button size="large" [routerLink]="['/signup']" expand="block" color="danger" fill="outline">Registrarme</ion-button>
        <span class="divider line one-line">o</span>
        <ion-button size="large" [routerLink]="['/signin']" expand="block" color="danger">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
