<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Enviados</ion-title>
<!--    <ion-buttons slot="end">-->
<!--      <ion-button-->
<!--        *ngIf="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_CLEAN"-->
<!--        (click)="presentAlert()"-->
<!--      >-->
<!--        <ion-icon slot="icon-only" name="trash"></ion-icon>-->
<!--      </ion-button>-->
<!--      <ion-button-->
<!--        *ngIf="MY_SHARED_PREFERENCES.SETTINGS.MAIL_SHOW_BUTTON_SEARCH"-->
<!--        (click)="fnViewSearch()"-->
<!--      >-->
<!--        <ion-icon slot="icon-only" name="search"></ion-icon>-->
<!--      </ion-button>-->
<!--      <ion-button (click)="presentPopover($event)">-->
<!--        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>Welcome, clicked your view!</div>
</ion-content>
