<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="MY_SHARED_PREFERENCES.SETTINGS.INBOX_SHOW_BUTTON_SEARCH" (click)="viewSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="items.length > 0">
    <ion-item-sliding *ngFor="let item of items;let i = index" (click)="viewDetail(item)">
      <ion-item [button]="true" lines="full">
        <table>
          <tr>
            <td style="padding: 0 0.75rem 0 0" rowspan="3">
              <ion-avatar style="opacity: 0.8; width: 2.75rem; height: 2.75rem" [ngClass]="'color-' + item.participant.fullName.charAt(0).toUpperCase()">
                {{item.participant.fullName.charAt(0).toUpperCase()}}
              </ion-avatar>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td style="padding: 0.75rem 0 0 0.25rem">
                    <div style="display: flex">
                      <div *ngIf="item.is_starred" style="margin: 0 0.5rem 0 0">
                        <ion-icon style="margin: 0" size="small" color="warning" slot="icon-only" [name]="item.is_starred ? 'star':''"></ion-icon>
                      </div>
                      <ion-text *ngIf="item.is_read">
                        <div style="font-size: 1rem; margin-top: 0.085rem">{{item.participant.fullName}}</div>
                      </ion-text>
                      <ion-text *ngIf="!item.is_read">
                        <div style="font-size: 1rem; font-weight: 700; margin-top: 0.085rem">{{item.participant.fullName}}</div>
                      </ion-text>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0.25rem 0.75rem 0.75rem 0.25rem">
              <ion-text *ngIf="item.is_read">
                <div style="font-size: 0.8rem">{{item.subject}}</div>
                <ion-label>
                  <div style="font-size: 0.7rem">{{item.message}}</div>
                </ion-label>
              </ion-text>
              <ion-text *ngIf="!item.is_read">
                <div style="font-size: 0.8rem; font-weight: 600">{{item.subject}}</div>
                <ion-label>
                  <div style="font-size: 0.7rem">{{item.message}}</div>
                </ion-label>
              </ion-text>
            </td>
          </tr>
        </table>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="medium">
          <ion-icon slot="start" name="archive"></ion-icon>
          Archivar
        </ion-item-option>
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="dark">
          <ion-icon slot="start" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="items.length < 1" class="ion-padding" style="height: 100%; display: flex; justify-content: center; align-items: center; text-align: center">
    <ion-label>
      <ion-icon slot="icon-only" name="mail-outline" size="large"></ion-icon>
      <div>No tienes mensajes en tu bandeja.</div>
    </ion-label>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" class="my-icon" (click)="viewCreatePage()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">-->
  <!--  <ion-infinite-scroll>-->
  <!--    <ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--  </ion-infinite-scroll>-->
</ion-content>
